@model IEnumerable<Examen1_LeonardoMadrigal.Models.Usuario>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" asp-area="" asp-controller="Usuario" asp-action="VistaRolUsuarios">Vista Usuarios</a>
            <a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" asp-area="" asp-controller="Usuario" asp-action="VistaRolAdministrador">Vista Administrador</a>
            <a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" asp-area="" asp-controller="Usuario" asp-action="VistaRolConductor">Vista Conductor</a>
        </div>
    </div>
</body>
</html>
