@model IEnumerable<Examen1_LeonardoMadrigal.Models.Ruta>

@{

}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h2>Rutas</h2>
    <div class="row">
        @foreach (var rutas in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @* <img src="/images/placeholder.jpg" alt="Imagen no disponible" class="card-img-top" /> *@
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => rutas.Nombre)</h5>
                        <p class="card-text">Precio: @Html.DisplayFor(modelItem => rutas.Estado)</p>
                        <p class="card-text">Disponible: @Html.DisplayFor(modelItem => rutas.Horarios)</p>
                        <td>

                            <a asp-controller="Ruta" asp-action="Details" asp-route-id="@rutas.Id">Details</a> 

                        </td>
                    </div>
                </div>
            </div>
        }
    </div>



</body>
</html>
